@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    border-radius: 4px;
    width: 10px;
    background-color: #292624; /* Example color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #F08149; /* Example color */
    border-radius: 4px;
    border: 1px solid #A35832; /* Example color */
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1; /* Example color */
}